 /* font style */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

 :root {
    --background-color: #0b6623ec;
    --background-button-color: #b90808;
 }

 /* common style */
 * {
    margin: 0 auto;
    padding: 0;

 }

 body {

    /* width: 100%; */
    /* height: 100%; */


 }

 main {
    margin-top: 10px;
    background-color: #FFFFFF;
    border: 1px solid white;



 }

 /* start header styles */
 header,
 main .container,
 footer {
    width: 90%;
    height: 646px;
    max-width: 1320px;
    margin: 0 auto;




 }

 header {
    margin-top: 5%;
    display: flex;

    padding: 10px 70px 0 90px;
    align-items: center;
    border-radius: 20px;
    margin: 50px 0 130px;
 }


 .watch-live {

    display: flex;

    background-color: var(--background-color);
    border-radius: 30px;
    margin: 0 140px;
    /* margin-top:50px;
    margin: 50px; */
    /* margin-left: 140px; */
    padding: 20px;
    justify-content: space-evenly;

    border: none;



 }

 .banner-image {
    width: 50%;
 }

 .banner-image img {
    width: 100%;
 }

 .banner-image img:hover {

    width: 500px;
    height: 450px;
    transform: rotate(10deg);

 }

 .watch-live-text {
    width: 50%;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    margin-left: 20px;
    padding: 70px;

 }

 .watch-live-text h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 5px;
    padding: 20
 }

 .bannerText p {
    font-size: 10px;
    font-weight: 400px;
    line-height: 15px;
    margin-top: 15px;
 }

 .btn {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
    width: 187px;
    border: 0;
    height: 56px;
    margin-top: 20px;
    margin-left: 25px;
    background-color: var(--background-button-color);
    border-radius: 5px;
 }

 #blog-button {
    background-color: var(--background-button-color);
 }

 .icon {

    margin-left: 20px;
 }


 .banner-image img {
    /* width:400px; */
    height: 400px;
    transition: width 0., height 1s, transform 1s;
 }


 /* end header styles */

 /*--------------------------
 start main styles 
 -----------------------------*/



 .top-blogs {
    width: 80%;
 }

 .container {
    display: flex;
    gap: 15px;
    margin-bottom: 150px;
 }

 /* ------------------
start card-button styles
---------------------- */
 .container nav {
    width: 20%;
    background-color: var(--background-color);
    padding: 20px 10px;
    border-radius: 10px;
    height: 272px;
    justify-items: center;
    /* align-items:space between ; */
    /* margin-left: 5%;  */
 }

 nav ul {
    display: flex;
    flex-direction: column;
    gap: 25px;

 }

 nav ul li {
    list-style: none;

 }

 .card-button {
    color: #161616;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    width: 252px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 15px 0;
 }

 /* end button style */
 .top-blogs {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-end;
    gap: 20px;
    padding: 10px;
    margin-right: 30%;
 }


 .blog {

    border: 1px solid #f3f2f2;
    border-radius: 10px;
    margin-top: 0;


 }





 .blog-image img {
    width: 260px;
    height: 175px;
 }

 .blog-info {
    width: 260px;
 }

 .blog-info button {
    color: #161616;
    font-family: 'Poppins';
    border-radius: 1px solid;
    margin-top: 5px;
    margin-left: 20px;

    font-style: normal;
    width: 100px;
    height: 32px;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;

 }

 .blog-info h4 {
    color: #161616;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin-left: 15px;
    line-height: 27px;
    width: 272px;
    line-height: 25px;

    margin-top: 10px;
    ;
 }

 .icons {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-top: 5px;
 }

 /* ------------------------
         footer styles
 ------------------------------- */
 footer {
    background-color: var(--background-color);
    width: 100%;
    height: 300px;
    height: 250px;
    margin-top: 50px;
    /* margin-bottom:440px;  */
 }

 .footer {
    text-align: center;
 }

 .footer h3 {
    font-family: 'Poppins';
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 2%;
    /* margin-bottom: 140px; */


    font-weight: 600;
    font-size: 25px;

    color: #FFFFFF;

 }

 .footer hr {
    width: 70%;
    height: 0px;
    margin-left: 10%;



    border: 1px solid rgba(255, 255, 255, 0.1);

 }

 .footer nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;

 }

 nav ul li a {

    text-decoration: none;
    margin-bottom: 10%;
    color: #B9B9B9;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

 }

 /* Media queries */