 /* font style */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

 :root {
    --background-color: #1E1E1E;
    --background-button-color: #DD0000;
 }

 /* common style */
 * {
    margin: 0;
    padding: 0;
 }

 body {

    width: 100%;
    height: 100%;
 }

 /* start header styles */
 header {
    width: 1321px;
    height: 646px;


 }

 .watch-live {
    display: flex;

    background-color: var(--background-color);
    border-radius: 30px;
    margin: 50px;
    margin-left: 140px;
    padding: 20px;
    align-items: center;

 }

 .watch-live-text {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    margin-left: 20px;

 }

 .watch-live-text h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    margin-top: 5px;
 }

 .bannerText p {
    font-size: 10px;
    font-weight: 400px;
    line-height: 15px;
    margin-top: 10px;
 }

 .btn {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
    width: 187px;
    height: 56px;
    margin-top: 20px;
    margin-left: 25px;
    background-color: var(--background-button-color);
    border-radius: 5px;
 }

 .icon {

    margin-left: 20px;
 }

 .banner-image img {
    width: 500px;
    height: 400px;
 }

 /* end header styles */

 /*--------------------------
 start match section styles 
 -----------------------------*/
 .container {
    width: 100%;
 }

 .match-blogs {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 140px;
    background-color: var(--background-color);
    padding: 15px;
    border-radius: 15px;
    height: 272px;



 }

 .match-blogs>ul {
    list-style: none;


 }

 ul button {

    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 200px;
    height: 64px;
    margin: 20px 25px;
    padding: 15px;
    border-radius: 10px;



 }

 ul button li {

    height: 64px;
    gap: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;


 }

 #blog-button {
    color: #FFFFFF;
    background-color: var(--background-button-color);

 }